body {
	margin: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

/*grey color #52616b */

h1 {
 	color: #66BFBF ;
 	margin: 50px auto 0 auto;
 	font-weight: 700;
 	font-size: 3em;
 	
}

h2 { font-size: 2em;
	 color: #66BFBF;
	 font-weight: 700;

 }

h3 { 
	color: #66BFBF;
	font-weight: bold;
	font-size: 1.5em;
	 }

p {
	font-family: raleway; 
	font-size: 1em;
	color: #40514E;
	margin: auto;
	width: 30%;
}

.webdev { 
	font-weight: normal;
 }

a {
	color: #11999E;
}


hr {
	width: 5% ;
	border: dotted 10px #EAF6F6;
	border-bottom: none;
	margin: 50px auto;

}

.top-container {
	padding-top: 100px;
	padding-bottom: 250px;
	position: relative;
	background-color: #e1f2fb;
}

.skill-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}

.contact-me {
	line-height: 2;
	margin: auto;
}

.contact {
	width: 40%;
	margin: auto;
	line-height: 2;
}

.profileimg {
	width: 12.5%;
	margin-top: 50px;
	background-color: #e1f2fb; 
	border-radius: 50%;
}

.htmlimg {
	width: 25%;
	height:auto;
	float: left;
	margin-right: 30px;
	background-color: #e1f2fb; 
	border-radius: 50%;
}

.cssimg {

	width: 25%;
	height: auto;
	float: right;
	margin-left: 30px;
	background-color: #e1f2fb; 
	border-radius: 50%;
}



.btn {
	border-radius: 15px;
	font-size: 16px;
	font-weight: 700;
	padding: 7px;
	color: #FFFFFF;
	background-color: #66BFBF;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn:hover {
	background-color: #FFFFFF;
	color: #66BFBF;
	border: solid 2px #66BFBF ;
}


.cloud1 {
	position: absolute;
	right: 300px;
	top: 50px;

}

.cloud2 {
	position: absolute;
	left: 10%;
	bottom: 300px;

}

.cloud3 {
	position: absolute;
	right: 40%;
	bottom: 20%;
}

.middle-container {


}

.bottom-container {
	background-color: #e1f2fb;
	padding: 30px;
}

.footer-link {
	color: #11999E; 
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;

}


.footer-link:hover {
	color: #FFFFFF;
}
.credits {
	color: #EAF6F6;
	font-weight: 700;
	font-size: .5rem;
}
